* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}
:root {
  --main-color: #4c5ee3;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
  min-height: 200vh;
}
a.header-a {
  margin: all 50px;
  padding: all 20px;
  text-decoration: none;
  transition: 0.5s;
}
a.header-a button:hover {
  background-color: var(--main-color);
  color: rgb(255, 255, 255);
}
button {
  text-align: center;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 50px;
  padding: all 30px;
  margin-top: 50px;
}
h1 {
  letter-spacing: 10px;
  font-family: "Coco";
  font-size: 50px;
  text-transform: uppercase;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  padding: 40px 100px;
  z-index: 1000;
}
header .main-logo {
  font-family: "Bukhari";
  position: relative;
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

header.sticky {
  padding: 10px 50px 6px;
  z-index: 1000;
  background-color: #fff;
}
header.sticky .main-logo {
  color: var(--main-color);
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
header ul li {
  cursor: pointer;
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  padding: 10px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 0.5px;
  transition: 0.5s;
  font-weight: 600;
  font-size: 15px;
  font-family: "Comfortaa", sans-serif;
}
header.sticky ul li a {
  color: rgba(76, 94, 227, 0.6);
}
header.sticky ul li a:hover:after {
  background-color: var(--main-color);
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../assets/images/banner-bg.png);
  background-size: cover;
}
header ul li a:hover {
  font-size: 17px;
  color: rgb(255, 255, 255);
}
header.sticky ul li a:hover {
  color: var(--main-color);
}
header ul li a:after {
  content: "";
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -11.5px;
  transition: 0.3s;
  border-radius: 100px;
}
header ul li.active a::after {
  width: 100%;
  transition: 0.3s;
}
header.sticky ul li.active a::after {
  background-color: var(--main-color);
}
header ul li.active a {
  font-size: 17px;
  color: rgb(255, 255, 255);
}
header.sticky ul li.active a {
  font-size: 17px;
  color: var(--main-color);
}
header ul li a:hover:after {
  width: 100%;
}
.carousel-title {
  text-align: center;
  width: 700px;
  height: 300px;
  overflow: hidden;
}
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.multi-slides {
  position: absolute;
  display: flex;
  width: 400%;
  height: 100%;
}
.nav-title {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  margin-bottom: 100px;
}
.bar {
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 50px;
}
.bar:hover {
  background-color: #fff;
}
input[name="radio-slider"] {
  position: absolute;
  visibility: hidden;
}
.slide {
  width: 100%;
  transition: 0.5s;
}
.sl-block {
  color: #fff;
  width: 700px;
}

#slider01:checked ~ .sl1 {
  margin-left: 0%;
}
#slider02:checked ~ .sl1 {
  margin-left: -25%;
}
#slider03:checked ~ .sl1 {
  margin-left: -50%;
}
#slider04:checked ~ .sl1 {
  margin-left: -75%;
}
